
<html lang="en">

  <head>
    <title>TinyApp</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

  </head>


  <body>
    <header>
        <% include ./partials/_header %>
    </header>


    <div class="main">

    <% if (user) { %>
      <table>
        <tr>
          <th>Shortened URL</th><th colspan = "11">URL</th>
        </tr>
        <% for (url in urls) { %>

        <tr>
          <td><a class="link" href="u/<%= url %>"><%= url %></a></td>
          <td><%= urls[url].fullURL %></td>
            <td>
            <!-- <a href="urls/<%= url %>">edit</a> -->

              <a href="urls/<%= url %>">
                <input type="submit" value="Update">
              </a>

            </td>
            <td>
          <form method="POST" action="/urls/<%= url %>?_method=DELETE">
            <input type="submit" value="Delete">
          </form></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <% } %>
      </table>

      <p style="padding:10px">
        <a class="link" href="urls/new">Click here to shoten a new URL</a>
      </p>
    <% } else { %>
    <table>
        <tr>
          <th>Welcome, Guest!</th>
        </tr>
      </table>
      <p style="padding:10px">
        <a class="link" href="/login">Please login or register to use this service</a>
      </p>

    <% } %>
</div>
    <div class="right">
      <h2>Popular Links</h2>
      <% for (var i = 0; i < 5; i++) { %>
      <p>
        <a href="u/<%= topLinks[i] %>"><%= topLinks[i] %></a>
        </p>
      <% } %>
    </div>
    <footer>
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>